<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $css := resources.Get "index.css" | minify | fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    <link rel="icon" href="/favicon.svg" />
    <title>{{ .Site.Title }}</title>
  </head>
  <body class="dark:bg-gray-950">
    <nav
      class="fixed top-0 z-10 flex w-full grid-cols-3 items-center justify-between bg-gray-900 p-6 lg:px-20"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Bürgernetz Landkreis Pfaffenhofen e.V.</span>
          {{ with resources.Get "img/bnv-logo-white-logo.png" }}
          <img class="h-8 w-auto" src="{{ .RelPermalink }}" alt="" />
          {{ end }}
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          id="side-menu-open"
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
        >
          <span class="sr-only">Menü öffnen</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/" class="text-sm font-semibold leading-6 text-white">
          Startseite
        </a>
        <a
          href="/aktionsteams"
          class="text-sm font-semibold leading-6 text-white"
        >
          Aktionsteams
        </a>
        <a
          href="/mitgliederbereich"
          class="text-sm font-semibold leading-6 text-white"
        >
          Mitgliederbereich
        </a>
      </div>
      <div class="hidden lg:flex"></div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->
    <div
      id="side-menu"
      class="hidden lg:hidden"
      role="dialog"
      aria-modal="true"
    >
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10"></div>
      <div
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10"
      >
        <div class="flex items-center justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">
              Bürgernetz Landkreis Pfaffenhofen e.V.
            </span>
            {{ with resources.Get "img/bnv-logo-white-logo.png" }}
            <img class="h-8 w-auto" src="{{ .RelPermalink }}" alt="" />
            {{ end }}
          </a>
          <button
            id="side-menu-close"
            type="button"
            class="-m-2.5 rounded-md p-2.5 text-gray-400"
          >
            <span class="sr-only">Menü schließen</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/25">
            <div class="space-y-2 py-6">
              <a
                href="/"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
              >
                Startseite
              </a>
              <a
                href="/aktionsteams"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
              >
                Aktionsteams
              </a>
              <a
                href="/mitgliederbereich"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
              >
                Mitgliederbereich
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-page-size my-20">{{ block "main" . }}{{ end }}</div>

    <div
      class="bottom-0 mx-auto flex h-20 w-full items-center justify-center gap-12 bg-gray-900 text-gray-400"
    >
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutz</a>
    </div>

    <script>
      const sideMenu = document.getElementById("side-menu");
      const openMenu = document.getElementById("side-menu-open");
      const closeMenu = document.getElementById("side-menu-close");

      openMenu.addEventListener("click", () => {
        sideMenu.classList.add("block");
        sideMenu.classList.remove("hidden");
      });
      closeMenu.addEventListener("click", () => {
        sideMenu.classList.remove("block");
        sideMenu.classList.add("hidden");
      });
    </script>
  </body>
</html>
