{{ define "main" }}
<div class="flex w-full justify-center px-6">
  <div
    class="flex w-full max-w-[120ch] flex-col items-center gap-6 pt-20 lg:pt-32"
  >
    <h1 class="text-5xl font-bold dark:text-white">Aktionsteams</h1>
    <span class="text-center text-gray-700 dark:text-gray-300">
      Unsere Ehrenamtlichen engagieren sich in den einzelnen Aktionsteams.
      <br />Hier sehen Sie alle auf einem Blick:
    </span>

    <div class="grid grid-cols-1 gap-6 pt-12 sm:grid-cols-2 lg:grid-cols-3">
      <div
        class="flex flex-col gap-3 rounded-xl border bg-gray-100 p-9 shadow-lg dark:border-gray-700 dark:bg-gray-900"
      >
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
          Computerwerkstatt
        </h2>
        <span class="grow text-gray-600 dark:text-gray-400">
          Sie bekommen bei Computerproblemen Hilfe zur Selbsthilfe. Die
          “Computerwerkstatt” ist regelmäßig einmal im Monat, meistens am
          dritten Samstag, geöffnet.
        </span>
        <a
          class="font-bold text-indigo-500 hover:text-indigo-300 dark:text-indigo-400"
          href="/aktionsteams/computerwerkstatt/"
        >
          Mehr erfahren
        </a>
      </div>

      <div
        class="flex flex-col gap-3 rounded-xl border bg-gray-100 p-9 shadow-lg dark:border-gray-700 dark:bg-gray-900"
      >
        <h2 class="text-xl font-bold dark:text-gray-200">Radio</h2>
        <span class="grow text-gray-800 dark:text-gray-400">
          Das Multimedia Team betreibt das Bürgernetz Webradio „Radio10“. Es
          werden verschiedene Beiträgsformate erstellt und das sprechen vor dem
          Mikrofon erlernt.
        </span>
        <a
          class="font-bold text-indigo-500 hover:text-indigo-300 dark:text-indigo-400"
          href="/aktionsteams/radio/"
        >
          Mehr erfahren
        </a>
      </div>

      <div
        class="flex flex-col gap-3 rounded-xl border bg-gray-100 p-9 shadow-lg dark:border-gray-700 dark:bg-gray-900"
      >
        <h2 class="text-xl font-bold dark:text-gray-200">Hackerspace</h2>
        <span class="grow text-gray-800 dark:text-gray-400">
          Hier wird gebastelt, gelötet, gesägt oder einfach mal über Technik
          geplaudert. Wir treffen uns einmal wöchentlich im
          Bunkerverwaltungsgebäude.
        </span>
        <a
          class="font-bold text-indigo-500 hover:text-indigo-300 dark:text-indigo-400"
          href="/aktionsteams/hackerspace/"
        >
          Mehr erfahren
        </a>
      </div>

      <div
        class="flex flex-col gap-3 rounded-xl border bg-gray-100 p-9 shadow-lg dark:border-gray-700 dark:bg-gray-900"
      >
        <h2 class="text-xl font-bold dark:text-gray-200">Apfeltreff</h2>
        <span class="grow text-gray-800 dark:text-gray-400">
          Wer ein Apple-Gerät besitzt, findet häufig in seiner Umgebung keinen
          Ansprechpartner für offene Fragen. Der Apfeltreff möchte diese Lücke
          schließen und einen Treffpunkt für Apple-Nutzer anbieten.
        </span>
        <a
          class="font-bold text-indigo-500 hover:text-indigo-300 dark:text-indigo-400"
          href="/aktionsteams/apfeltreff/"
        >
          Mehr erfahren
        </a>
      </div>

      <div
        class="flex flex-col gap-3 rounded-xl border bg-gray-100 p-9 shadow-lg dark:border-gray-700 dark:bg-gray-900"
      >
        <h2 class="text-xl font-bold dark:text-gray-200">
          Webunterstützung Vereine
        </h2>
        <span class="grow text-gray-800 dark:text-gray-400">
          Wir unterstützen die Homepage-Verwaltung mit WordPress Wir
          interessieren uns für PHP-, MySQL- und LibreBasic- Programmierung
        </span>
        <a
          class="font-bold text-indigo-500 hover:text-indigo-300 dark:text-indigo-400"
          href="/aktionsteams/webunterstuetzung-vereine/"
        >
          Mehr erfahren
        </a>
      </div>

      <div
        class="flex flex-col gap-3 rounded-xl border bg-gray-100 p-9 shadow-lg dark:border-gray-700 dark:bg-gray-900"
      >
        <h2 class="text-xl font-bold dark:text-gray-200">Linux-Initiative</h2>
        <span class="grow text-gray-800 dark:text-gray-400">
          Linux hat in Pfaffenhofen mit der Hallertux Mailingliste ein Zuhause.
          Hier können sich Linux-Interessierte austauschen, um Linux Hilfe
          anfragen, Treffen vereinbaren etc ...
        </span>
        <a
          class="font-bold text-indigo-500 hover:text-indigo-300 dark:text-indigo-400"
          href="/aktionsteams/linux-initiative/"
        >
          Mehr erfahren
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}
